*.log
*.md
*.lock
*.swp

.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
schema.graphql
src/graphql.tsx
src/iconfont.less
LICENSE

node_modules
coverage
dist
build
weapp
alipay
swan
tt
qq
h5
